@tailwind base;
@tailwind components;
@tailwind utilities;

.decorador {
  background-image: url('/decorador.svg');
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-repeat: repeat-x;
}

.decorador-abajo {
  background-image: url('/decorador2.svg');
  position: absolute;
  bottom: -24px;
  left: 0;
  height: 80px;
  width: 100%;
  background-repeat: repeat-x;
}